* {
	font-family: 'Nunito Sans', sans-serif;
	color: #333;
}

html,
body {
	height: 100%;
	font-family: Segoe Pro Regular;
    background: #f8f9fa;
}

#root {
	height: inherit;
}

a {
	cursor: pointer;
}
